html, body{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body{
    font-family: "lato", sans-serif;
}

*:focus {
    outline: none;
}

header{
    width: 100%;
    z-index: 5;
}

.logo{
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

.navbarlogo{
    color: #000;
}

.navbarlogo:hover{
    color: #0091ea;
    text-decoration: none;
}



nav{
    position: fixed;
    width: 100%;
    z-index: 3;
    border-bottom: solid 3px #0091ea;
    box-shadow: 0 3px 20px rgba(0, 145, 234,0.5);*/
}

nav ul{
    list-style: none;
    background: #ffffff;
    /*background: rgba(255,255,255, 0.6);*/
    overflow: hidden;
    color: #000;
    padding: 0;
    text-align:right;
    margin: 0;
    transition: 1s;
}


/*
nav.black ul{
    background: #ffffff;
}
*/


nav ul li{
    display: inline-block;
    padding: 20px;
    transition-duration: .3s;
}


nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

nav ul li a:hover{
    color: #0091ea;
    text-decoration: none;
}

.menu-icon{
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

#slides{
    width: 100%;
    height: 100vh;
    /*padding: 0px;
    margin: 0px;*/
    z-index: -2;
}


.sliderImg{
    position: absolute;
    left: 0px;
    top: 68px;
    opacity: 0;
    height: 100vh;
    width: 100%;
     -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
}

.showing{
    opacity: 0.7;
}

.slideText{
    color: #fff;
    z-index: 1;  
    position: absolute;
    top: 268px;
    left: 50px;
    padding: 0;
    font-size: 70px;
}

.slideText2{
    color: #fff;
    z-index: 1;  
    position: absolute;
    top: 368px;
    left: 50px;
    padding: 0;
    font-size: 40px;
}

.survey,
.kontaktBtn,
.surveyBtn{
    background-color: #0091ea;
    color: #ffffff;
    z-index: 1;
    border: solid 2px #0091ea;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 145, 234,0.3);
    transition-duration: .3s;
}

.survey{
    position: absolute;
    top: 468px;
    left: 50px; 
    padding: 15px;
    font-size: 30px;
}

/*
.survey:hover{
    box-shadow: 3px 3px 5px #1C9BEA;
    cursor: pointer;
}
*/

.solutionPar,
.productPar,
.aboutPar,
.contactPar,
footer{
    position: relative;
    top: 68px;
    width: 100%;
    /*height:100vh;*/
    padding: 20px;
    margin: 0px;
    /*text-align: center;*/
    font-size: 18px;
}

.productPar{
    color: #fff;
}

.solutionSection
{
    padding:60px;
}
.productSection{
    padding: 60px 20px;
}

.missonPar{
    padding-top: 20px;
    text-align: left;
}
.vissonPar{
    padding-left: 270px;
    padding-top: 40px;
    text-align: left;
}
.goalPar{
    padding-left: 540px;
    padding-top: 60px;
    text-align: left;
}


h1{ 
    
    text-align: center;
}
h3{
    
    font-size: 40px;
}

.icon{
    width: 100px;
}


.productPar{
    background: #0091ea;
    width: 100% !important;
}

video{
    width: 100%;
    border: solid;
    border-width:1px;
    z-index: 0;
}


footer{
    /*border-top: solid 3px #0091ea;
    box-shadow:  inset 0 20px 20px -20px rgba(0, 145, 234,0.5);*/
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}
.subContactPar{
    padding:60px 20px; 
}
.map{
   padding: 20px;
    text-align: center;
}
iframe{
    text-align: center;
    width:400px;
    height:300px; 
    
    border-style:none;
}

input{
    border: none;
    border-bottom: solid 3px #0091ea;
    display: block;
    width: 70%;
    margin: 5px 30% 5px 10% !important;
    padding: 5px;
}

/*
.input{
    width: 60%;
    margin: 5px 30% 5px 10% !important;
}
*/

textarea{
    text-align: center;
    width: 70%;
    display: block;
    margin: 5px 30% 5px 10% !important;
    border: none;
    border-bottom: solid 3px #0091ea;
}

textarea:focus{
    color: #0091ea;
    text-align: left;
}

.kontaktBtn,
.surveyBtn{
    width: 40%;
    margin: 10px 10% 10px 50% !important;
}

footer{
    text-align: center;
}

.contactInfo li{
    list-style: none;
}

.social{
    width: 100% !important;
    padding: 10px;
    background: #0091ea;
}



/*//something expand*/
@media(max-width: 580px){
    
    .logo{
        position: fixed;
        top: 0;
        margin: 6px 36px;
    }
    
    nav ul{
        max-height: 0px;
        background: #ffffff;
    }
    
    .menu-icon{
        background: #ffffff;
        color: #000;
    }
    
/*
    nav.black ul{
        background: #ffffff;
    }
*/
    
    .navShowing{
        max-height: 30em;
    }
    
    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }
    
    .menu-icon{
        display: block;
    }
    
    .sliderImg{
        top: 30px;
        height: 50vh;
    }
    
    #slides{
        height: 50vh;
    }
    
    .slideText{ 
    position: absolute;
    top: 60px;
    left: 25px;
    font-size: 30px;
}

    .slideText2{ 
    position: absolute;
    top: 120px;
    left: 25px;
    font-size: 20px;
}

    .survey{
    position: absolute;
    top: 200px;
    left: 25px;
    font-size: 30px;
}
    

.missonPar, .vissonPar, .goalPar{
    padding-left: 25px;
}
}


/*somthing minimum*/
@media(min-width: 580px) and (max-width:785px){
    body{
        background: black;
    }
    .logo{
        position: fixed;
        top: 0;
        margin: 6px 36px;
    }
    
    nav ul{
        max-height: 0px;
        background: #ffffff;
    }
    
    .menu-icon{
        background: #ffffff;
        color: #000;
    }
    
    .navShowing{
        max-height: 30em;
    }
    
    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }
    
    .menu-icon{
        display: block;
    }
    
    .sliderImg{
    position: absolute;
    top: 30px;
    height: 70vh;
}
    #slides{
        height: 70vh;
    }
    
    .slideText{ 
    position: absolute;
    top: 70px;
    left: 25px;
    font-size: 50px;
}

    .slideText2{ 
    position: absolute;
    top: 150px;
    left: 25px;
    font-size: 30px;
}

    .survey{
    position: absolute;
    top: 240px;
    left: 25px;
    font-size: 40px;
}
    
    

.missonPar, .vissonPar, .goalPar{
    padding-left: 25px;
}
    
    }